*{
    margin: 0 auto;
padding: 0;
}
body {
    background-color: #252222b3;
}
.wrapper {
    width: 960px;
    text-align: center;
    color: greenyellow;
    border: 5px solid red;
}
.title {
    color:black;
}
.title1 {
    color:rgb(235, 119, 129);
}
.block {
    border: 4px double black;
    width: 600px;
    height: 400px;
    position: relative;
}
.asus, .asus2 {
    border: 2px groove #d99f24;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    color: red;
    font-size: 27px;
}
 
 .asus {
    left: -277px;

 }
.asus2 {
    top: -44px;
    left: 278px;
}